body  {
    background-color: pink;
  }

  .photo_list{
    width:350px;
    max-height: 350px;
    padding: 10px; 
}

form {
  background: white;
  width: 50%;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: black 1px solid 
}

#sticky-footer {
  bottom: 0;
  width: 100%;
  position: fixed;
}