body  {
    background-color: pink;
  }

  .photo_list{
    width:350px;
    max-height: 350px;
    padding: 10px; 
}

form {
  background: white;
  width: 50%;
}

footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
  border: solid 5px black;
}